[View in Colaboratory](https://colab.research.google.com/github/ashirenv/hello-world/blob/master/Python_Bootcamp.ipynb)

In [1]:
print('hello world')

hello world

In [2]:
something = None
print(something)

None

In [4]:
is_tired = True
is_hungry = False
print(is_hungry)

False

In [7]:
age = 36
print(age + 1 / 5)

36.2

In [8]:
half = 0.5
one = 1.0

print(half)

0.5

In [9]:
message = 'He said: "Hello World"'
print(message)

He said: "Hello World"

In [10]:
message = 'He said: "Let\'s learn Python!"'
message = 'He said: \n"Let\'s learn Python!""'
print(message)

He said:
"Let's learn Python!""

In [13]:
print(message + "LOL" + " ROFL")

He said:
"Let's learn Python!""LOL ROFL

In [14]:
print(message.replace('Python', 'C++'))

He said:
"Let's learn C++!""

In [17]:
name = 'Shiren'
message = 'My name is {} and I am {} years old.'
print(message.format(name, 24))

My name is Shiren and I am 24 years old.

In [28]:
# WORKING WITH LISTS.

empty = []
ages = [1, 99, 36, 100]
names = ['Bob', 'Jane']
mixed = [1, 'Bob', True, None]
matrix = [[1,2], [3,4]]

#
#print(matrix)
#print(ages[0])
#print(names[1])
#len(ages)
#print(ages[len(ages)-1])
#print(matrix[1][0])

ages.append(21)
ages.insert(0,18)
ages.reverse()
ages.sort()

print(ages)

[1, 18, 21, 36, 99, 100]

In [46]:
# WORKING WITH DICTIONARIES.

person = {                
    'name': 'Martin',
    'age': 36,
    1: 'One',
    2: 'Two',
    'address': {
        'country': 'Singapore',
        'zip': '123456'
    }
}
print(person['name'])
print(person[1])
print(person['address']['zip'])

print(person.keys())
print(person.items())

person['height'] = 204     # create a new key
person['age']              # overide an existing key
print(person)

Martin
One
123456
dict_keys(['name', 'age', 1, 2, 'address'])
dict_items([('name', 'Martin'), ('age', 36), (1, 'One'), (2, 'Two'), ('address', {'country': 'Singapore', 'zip': '123456'})])
{'name': 'Martin', 'age': 36, 1: 'One', 2: 'Two', 'address': {'country': 'Singapore', 'zip': '123456'}, 'height': 204}

In [48]:
from decimal import Decimal

half = Decimal(0.5)
half = Decimal('0.5')   # always create decimals using strings to avoid rounding errors.
print(half)

0.5

In [49]:
print(str(True))        # prints True as a string.

True

In [56]:
from datetime import date, datetime

today = date(2018, 10, 20)
print(today)

now = datetime(2018, 10, 20, 11, 18)       # prints a specified time.
print(now)

current_time = datetime.now()
print(current_time)                        # prints the current time based on now() function.

print(current_time.year)
print(current_time.month)
print(current_time.day)

2018-10-20
2018-10-20 11:18:00
2018-10-20 03:21:06.612027
2018
10
20

In [67]:
# if statements

age = 24

if age == 100:                     # put most specific if statements first.
  print('You are really old')
elif age>=18:                      # put generic statemnts
  print('You are an adult')
else:
  print('You are not an adult')

You are an adult

In [69]:
this = 2
that = 3
something = 4

#                         TRUE
#           TRUE           and TRUE 
#   (FALSE    or  TRUE )   and TRUE
if (this == 1 or that > 2) and something < 5:
  print('WOW!')
  

if this:             # assumes that it is true
  print(this)

WOW!
2

In [74]:
# for loop

names = ['Bob', 'Alice', 'John', 'Tina']

for name in names:
  if name == 'Bob':
    continue                # keeps the loop running
  if name == 'John':          
    break                   # terminates the loop
  print(name)

Alice

In [75]:
# while loop

counter = 0 

while counter < 10:
  counter += 1             # has same meaning as counter = counter + 1
  print(counter)

1
2
3
4
5
6
7
8
9
10

In [77]:
# function

def squared(value):
  square_value = value * value
  return square_value

result = squared(5)
print(result)

25

In [81]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
      
result = factorial(4)
print(result)

24

In [83]:
def concat(text1, text2):
  phrase = text1 + ' ' + text2
  return phrase

message = concat('Hello', 'World')
print(message)

Hello World

In [96]:
# WORKING WITH FUNCTIONS.

def address(first_name=None, last_name=None, country='Singapore', city='Singapore', street=None, zip=None):
  result = '{} {}\n{}\n{} {}\n{}'.format(first_name, last_name, street, city, zip, country)
  return result

my_address = address(
  first_name='Shiren',
  last_name='Ang',
  street='66 Farrer Rd',
  zip='123456',
)
print(my_address)

Shiren Ang
66 Farrer Rd
Singapore 123456
Singapore

In [108]:
# WORKING WITH CLASSES.

class Animal(object):
  legs = 4
  speed = 0
  
  def run(self):
    self.speed = 12
    
#my_animal = Animal()
#print(my_animal.speed)

#my_animal.run()            # calls the run function.
#print(my_animal.speed)

#other_animal = Animal()
#print(other_animal.speed)

# Extending the base/super/parent class
class Dog(Animal):          # dog has inherited all the attributes from Animal.
  def bark(self):
    print('WOOF WOOF!')
    
# Overriding the base/super/parent class
class Spider(Animal):
  legs = 8
  
  # spider can run 10x faster than Animals
  def run(self):
    super().run()           # recall the run function from the super class.
    self.speed = self.speed * 10
    
doggy = Dog()               # doggy inherits attributes of Dog class
doggy.bark()                # calls the bark function
doggy.run()                 # calls the run function
print(doggy.speed)

spiderman = Spider()
spiderman.run()
print(spiderman.speed)

class Mutant(Spider, Dog):  # not advised to do this.
  pass

monster = Mutant()
monster.bark()
monster.run()               # program won't know which class to call run function from.
print(monster.speed)

WOOF WOOF!
12
120

In [120]:
# EXCEPTION HANDLING: E.g. Zero Divison Errors, Index Errors.

value = 1 
value2 = 0

try:
  result = value / value2
except ZeroDivisionError as ex:
  print('ERROR: {}'.format(ex))
except IndexError as ex:
  print('INDEX ERROR')
except Exception:
  print('Unknown error')
finally:
  print('Finally!')

ERROR: division by zero
Finally!

In [124]:
# SLICING

message = 'This is some text'
print(message[:6])
print(message[5:])
print(message[:-5])
print(message[5:-5])

ages = [1,2,3]
print(ages[len(ages)-1])
print(ages[-1])             # another way to access last item in list.

This i
is some text
This is some
is some
3
3

In [136]:
mylist = [1, 2, 3, 4, 5, 6]

newlist = [item for item in mylist]     # for each item in mylist, take item.
newlist = [item for item in mylist if item > 3]
newlist = [item * 10 for item in mylist if item >3]
newlist = [squared(item) for item in mylist if item >3]
print(newlist)

# however, doing that means you cannot identify which item caused a crash.

newlist = []
for item in mylist:
  if item > 3:
    #import ipdb; ipdb.set_trace()
    result = squared(item)
    newlist.append(result)
  print(newlist)

[]
[]
[]
[16]
[16, 25]
[16, 25, 36]

In [142]:
def squared(value):
  return value * value

squared = lambda value: value * value
print(squared(5))

def sort_key(value):                      # function to take the number in position 2 in each item.
  return value[1]

mylist = [['b', 3], ['a', 2], ['c', 1]]
mylist.sort(key=sort_key)                 # sort by the number in the list.
mylist.sort(key=lambda value: value[1])   # lambda construct reduces code.
print(mylist)

25
[['c', 1], ['a', 2], ['b', 3]]